<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                2002年生まれの愛媛県出身です．
                現在は，奈良先端科学技術大学院大学でコンピュータサイエンスを専攻しています．
            </p>
            <p class="paragraph-text justify-text">
                ソフトウェアが複雑化する中で，<strong style="color: red;">品質をどのように保障するか</strong>という問いに関心を持ち，
                ソフトウェア工学分野を中心に学んでいます．
                特に，ソフトウェアテスト，コード品質評価，LLMを用いたプログラム解析・テスト生成に関する研究を行い，
                開発現場で再現性のある品質向上手法を探求しています．
            </p>
            <p class="paragraph-text justify-text">
                研究を通して<strong style="color: blue;">なぜその結果が得られるのか</strong>を理論的に説明できるエンジニアを目指しています．
                今後は，ソフトウェア開発の現場で実際に役立つ研究成果を創出することを目標としています．
            </p>
        </div>
    </section>
</div>
