<div class="section-wrapper">
    <section class="section about" id="education">
        <div id="about-text">
            <div class="section-heading">Education</div>
            <ul class="paragraph-text" style="list-style: none;">
                <li style="margin: 15px 0;">
                    <i class="fas fa-graduation-cap"></i>
                    2026 / 04 - 現在 <br>
                    奈良先端科学技術大学院大学 先端科学技術研究科 情報科学領域
                </li>
                <li>
                    <i class="fas fa-graduation-cap"></i>
                    2022 / 04 - 2026 / 03 <br>
                    愛媛大学 工学部 工学科 コンピュータ科学コース <br>
                    （所属研究室：<a href="https://se.cite.ehime-u.ac.jp/jp/" target="top">ソフトウェア工学研究室</a>）
                </li>
            </ul>
        </div>
    </section>
</div>