<div class="section-wrapper">
    <section class="section about" id="interest">
        <div id="about-text">
            <div class="section-heading">Interest</div>
            <h3 class="center-align skills-subsection">関心分野</h3>
            <ul class="paragraph-text">
                <li>ソフトウェア工学</li>
                <li>ソフトウェアテスト</li>
                <li>自動プログラム修正</li>
                <li>コード生成</li>
                <li>大規模言語モデル</li>
            </ul>
            <h3 class="center-align skills-subsection">趣味</h3>
            <ul class="paragraph-text">
                <li>競プロ</li>
                <li>旅行</li>
                <li>アニメ</li>
            </ul>
        </div>
    </section>
</div>
