
<section class="head" id="nav">
    <div class="head-inner-wrap">
        <div class="profile-pic-div animated">
            <a href="#about" class="profile-pic-link"><img src="{{ site.profile_picture }}" class="profile-pic"/></a>
        </div>
        <div class="head-name head-title animated" id="head-name"><ruby>渡部 智裕<rt>わたなべ ともひろ</rt></ruby></div>
        <div class="head-punchline animated">奈良先端科学技術大学院大学<br>博士前期課程</div>
        <div class="head-menu-wrap">
            <a class="semi-transparent-button with-border nav-links" href="#about" style="margin: 5px auto;">About</a>
            <a class="semi-transparent-button with-border nav-links" href="#interest" style="margin: 5px auto;">Interest</a>
            <a class="semi-transparent-button with-border nav-links" href="#education" style="margin: 5px auto;">Education</a>
            <a class="semi-transparent-button with-border nav-links" href="#skills" style="margin: 5px auto;">Skills</a>
            <a class="semi-transparent-button with-border nav-links" href="#publications" style="margin: 5px auto;">Publications</a>
            <a class="semi-transparent-button with-border nav-links" href="#blog-posts" style="margin: 5px auto;">Blog</a>
            <a class="semi-transparent-button with-border nav-links" href="#extra" style="margin: 5px auto;">Contact</a>
        </div>
    </div>
</section>
