<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>
            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">資格</h3>
                    <ul class="paragraph-text">
                        <li>基本情報技術者</li>
                        <li>TOEIC 785</li>
                    </ul>
                    <h3 class="center-align skills-subsection">OS</h3>
                    <div class="progress-bars">
                        <ul>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>Windows</li>
                                <!-- <div class="skillbar clearfix " data-percent="90%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>Linux</li>
                                <!-- <div class="skillbar clearfix " data-percent="60%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                        </ul>
                    </div>
                    <h3 class="center-align skills-subsection">ソフトウェア</h3>
                    <div class="progress-bars">
                        <ul>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>Git / GitHub</li>
                                <!-- <div class="skillbar clearfix " data-percent="60%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>Docker</li>
                                <!-- <div class="skillbar clearfix " data-percent="40%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="technical-skills what-i-do">
                    <h3 class="center-align skills-subsection">コーディング経験</h3>
                    <div class="progress-bars">
                        <ul>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>HTML / CSS</li>
                                <!-- <div class="skillbar clearfix " data-percent="90%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>Python</li>
                                <!-- <div class="skillbar clearfix " data-percent="85%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>C</li>
                                <!-- <div class="skillbar clearfix " data-percent="80%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>JavaScript</li>
                                <!-- <div class="skillbar clearfix " data-percent="70%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>C++</li>
                                <!-- <div class="skillbar clearfix " data-percent="60%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>PHP</li>
                                <!-- <div class="skillbar clearfix " data-percent="60%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>Java</li>
                                <!-- <div class="skillbar clearfix " data-percent="30%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>Go</li>
                                <!-- <div class="skillbar clearfix " data-percent="30%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>C#</li>
                                <!-- <div class="skillbar clearfix " data-percent="20%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                            <div class="paragraph-text" style="margin: 0;">
                                <li>SQL</li>
                                <!-- <div class="skillbar clearfix " data-percent="20%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div> -->
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>