<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>
            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">資格</h3>
                    <ul class="paragraph-text">
                        <li>基本情報技術者</li>
                        <li>TOEIC 785</li>
                    </ul>
                    <h3 class="center-align skills-subsection">OS</h3>
                    <div class="progress-bars">
                        <div class="paragraph-text" style="margin: 0;">
                            Windows
                            <div class="skillbar clearfix " data-percent="90%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                        <div class="paragraph-text" style="margin: 0;">
                            Linux
                            <div class="skillbar clearfix " data-percent="60%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                    </div>
                    <h3 class="center-align skills-subsection">ソフトウェア</h3>
                    <div class="progress-bars">
                        <div class="paragraph-text" style="margin: 0;">
                            Git / GitHub
                            <div class="skillbar clearfix " data-percent="60%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                        <div class="paragraph-text" style="margin: 0;">
                            Docker
                            <div class="skillbar clearfix " data-percent="40%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">コーディング経験</h3>
                    <div class="progress-bars">
                        <div class="paragraph-text" style="margin: 0;">
                            HTML / CSS
                            <div class="skillbar clearfix " data-percent="90%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                        <div class="paragraph-text" style="margin: 0;">
                            Python
                            <div class="skillbar clearfix " data-percent="85%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                        <div class="paragraph-text" style="margin: 0;">
                            C
                            <div class="skillbar clearfix " data-percent="80%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                        <div class="paragraph-text" style="margin: 0;">
                            JavaScript
                            <div class="skillbar clearfix " data-percent="70%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                        <div class="paragraph-text" style="margin: 0;">
                            C++
                            <div class="skillbar clearfix " data-percent="60%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                        <div class="paragraph-text" style="margin: 0;">
                            PHP
                            <div class="skillbar clearfix " data-percent="60%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                        <div class="paragraph-text" style="margin: 0;">
                            Java
                            <div class="skillbar clearfix " data-percent="30%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                        <div class="paragraph-text" style="margin: 0;">
                            Go
                            <div class="skillbar clearfix " data-percent="30%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                        <div class="paragraph-text" style="margin: 0;">
                            C#
                            <div class="skillbar clearfix " data-percent="20%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                        <div class="paragraph-text" style="margin: 0;">
                            SQL
                            <div class="skillbar clearfix " data-percent="20%">
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>